/* body{
    background-image: linear-gradient(to bottom, rgb(212, 178, 183),rgb(194, 120, 133),rgb(197, 171, 175));
} */

.logos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 18%;
    margin-right: 18%;
    
}
.logo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2%;
    margin-left:18%;
    margin-right: 18%;
    
}
i{
    font-size: 5em;
}
